ansible==2.0.0.2
awscli==1.14.55
boto3==1.6.8
botocore==1.9.8
colorama==0.3.7
docutils==0.14
ecdsa==0.13
futures==3.2.0
httplib2==0.9.1
Jinja2==2.8
jmespath==0.9.3
MarkupSafe==0.23
netaddr==0.7.18
paramiko==1.16.0
pyasn1==0.4.2
pycrypto==2.6.1
python-dateutil==2.6.1
PyYAML==3.11
rsa==3.4.2
s3transfer==0.1.13
six==1.10.0